{
	"apiVersion": "cluster.open-cluster-management.io/v1",
	"kind": "ManagedCluster",
	"metadata": {
		"labels": {
			"vendor": "OpenShift"
		},
		"name": "{{ rhacmreg_mc_name }}"
	},
	"spec": {
		"hubAcceptsClient": true
	},
	"status": {
	}
}